.social-icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

a.download:hover {
    text-decoration: none;
}

a.download img {
    padding-right: 10px;
}

main {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-bottom: 10px;
}