html, body
{
    height:100%;
}

.default-container {
    display:table;
    height:100%;
    width: 100%;
    padding: 0px;
    margin-top: 0px;
    margin-left: -1px;
}

.table-row {
    height: 100%;
    display: table-row;
}

.sidebar-column {
    padding-left:0;
}

.sidebar-column.no-float {
    float: none;
    padding-left:0px;
    padding-right:0px;
}

.main-content.no-float {
    float: none;
    padding-left:25px;
}

.sidebar-column {
    display: table-cell;
    background: #F0F0F0;
}

.main-content {
    display: table-cell;
    padding-top:15px;
    background: white;
    float: none;
}

.no-top-padding {
    padding-top:0px;
}