body {
    background-color:#F0F0F0;
    font-family:"Helvetica","Times New Roman";
    font-size:16px;
    text-align:justify;
}

a:visited {
    color:#04F;
}

a:hover {
    color:#F33;
}

header {
    width:256px;
    float:left;
    position:fixed;
}

header h1, h2 {
    font-family:"Helvetica";
}

section {
    width:600px;
    float:right;
}

section.frontpage {
    font-family:"Helvetica", "Arial";
    font-size:14px;
}

ul {
    list-style-type:none; 
}

ul.info {
    border-style:groove;
    border-width:5px;
    border-color:#C0C0C0;
    padding-bottom:30px;
    padding-right:50px;
    background-color:#D0D0D0;
}

ul.contact-info {
    list-style-type:square;
}

.wrapper {
    width:1024px;
    margin:5 auto;
}

div.error {
    font-family:"Impact";
    font-size:36px;
    text-align:justify;
}

h1.blog {
    font-family:"Palatino Linotype";
    font-size:36px;
    text-decoration:underline;
    text-align:left;
}

div.blog_date {
    font-family:"Times New Roman","Arial";
    font-style:italic;
}

div.blog {
    font-family:"Times New Roman";
}

h3.sheetmusic {
    font-family:"Arial Black";
    font-size:24px;
    text-align:center;
}

table.sheetmusic {
    font-family:"Trebuchet MS";
    border:3px groove black;
    border-collapse:collapse;
    width:100%;
    background-color:#E0E0E0;
}

table.sheetmusic th {
    font-family:"Georgia";
    font-size:18px;
    border-style:solid;
    border-width:1px;
    border-color:#C0C0C0;
}

table.sheetmusic td {
    border-style:solid;
    border-width:1px;
    border-color:#C0C0C0;
    text-align:center;
}